<div class="container">
  <%= render 'shared/errors', object: @question %>
  <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>
  <div class="">
    <%= simple_format @question.body, {}, wrapper_tag: 'p' %>
  </div>
  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
