<div class="container">
  <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>
  <%= simple_format @question.body, {}, wrapper_tag: 'p' %>
  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
