<div class="container">
  <h2 class="title"><%= link_to @hashtag.name, hashtag_path(@hashtag.name) %></h2>

  <% @hashtag.questions.each do |question| %>
    <%= render question %>
  <% end %>
</div>
