.message {
  border-top: 1px solid #d0d0d0;
  padding: 10px 15px;
}

.message-notice {
  background-color: #ffeec2;
  border_color: #ffba08;
}

.message-alert {
  background-color: #ffc2db;
  border_color: #9d020f;
}
