.mt-sm {
  margin-top: 0.6rem;
}

.mt, .mt-md {
  margin-top: 1rem;
}

.mt-lg {
  margin-top: 1.75rem;
}

.mb-sm {
  margin-bottom: 0.6em;
}

.mr-sm {
  margin-right: 0.6em;
}

.mr {
  margin-right: 0.9em;
}

.ml {
  margin-left: 0.9em;
}

.mb, .mb-md {
  margin-bottom: 1em;
}

.mb-lg {
  margin-bottom: 1.75em;
}
