.user-box,
.user-box-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-box {
  flex-direction: column;
  color: #ffffff;
  background-color: #f48c06;
}

.user-box a {
  color: #ffffff;
}
